body {
	min-height: 2000px;
}

.tab-content {
	margin-top: 0.3em;
}

.image {
	margin: 0.3em;
	position: relative;
	overflow: auto;
	border: thin solid #EAEAEA;
}

.image img {
	border-radius: 5px;
	margin: 0.2em auto;
	display: block;
}

.image.dragging {
	opacity: 0.6;
}

.image input, .image textarea {
	width: 90%;
	margin: 0 auto;
	display: block;
}

.image.insert-above:before, .image.insert-below:after {
	content: '';
	display: block;
	width: 100%;
	height: 10px;
	background-color: grey;
	border-radius: 5px;
	margin: 0.3em;
	clear: both;
}

.grab-area {
	cursor: grab;
	width: 25px;
	height: 40px;
	position: absolute;
	left: 0;
	top: 0;
	text-align: center;
	z-index: 400;
}

.image-drop {
	width: 100%;
	height: 100px;
	border: thin dashed #E0E0E0;
	border-radius: 10px;
	color: #E0E0E0;
	text-align: center;
	line-height: 100px;
}

.favestar {
	background-image: url('/static/css/star.png');
	width: 25px;
	height: 25px;
	background-size: 50px;
	display: inline-block;
	background-position: -25px;
	vertical-align: middle;
}

.favestar.fave {
	background-position: 0;
}

.slug {
	display: inline;
}

.row.top-space {
	margin-top: 15px;
}

.btn.save {
	margin-left: 0.3em;
}


.post-meta {
	background-color: #EEE;
	padding: 10px;
	overflow: auto;
	line-height: 2em;
}

.post-meta > * {
	vertical-align: bottom;
	line-height: 1.2em;
}


form[role="search"] {
	margin-bottom: 2em;
}

.short-post {
	border: none;
	margin: 0 0 0.3em 0;
}

.short-post .panel-body {
	border: none;
	border-left: 1px solid #DDD;
	position: relative;
	left: 1em;
	padding: 3px;
}

.navbar-brand {
	margin: 10px;
	background: url('zap.svg') no-repeat;
	background-size: 50px;
	height: 50px;
	width: 50px;
}

nav {
	width: 100%;
}

nav ul {
	list-style: none;
}

nav ul li {
	display: inline-block;
}

.new-post {
	display: block;
	background: url('new.svg') no-repeat;
	background-size: 50px;
	height: 70px;
	width: 50px;
}

.hide-text {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}
