<form role="search" class="form-inline" ng-submit="search()">
	<div class="form-group">
		<input ng-model="search.query" type="search" class="form-control">
	</div>
	<div class="form-group">
		<input type="submit" class="btn btn-default" value="Search">
	</div>
</form>

<div ng-if="posts.length == 0">
	<p>
		Your search "{{search.old_query}}" returned no results!
	</p>
</div>


<article ng-repeat="post in posts" class="panel panel-default short-post">
	<div class="panel-heading">
		<div class="favestar" ng-class="{'fave': post.fave}"></div>
		<a href="#edit/{{post.id}}">{{post.title}}</a>
	</div>
	<section class="panel-body" ng-bind-html="post.summary"></section>
</article>
